# Handle text files: Force LF on check-in/check-out for everyone
* text=auto eol=lf

# Ensure the Yarn cache and releases are always treated as binary
*.zip binary
.yarn/cache/*.zip binary
.yarn/releases/*.cjs binary
.pnp.* binary
