# Handle text files: Force LF on check-in/check-out for everyone
* text=auto eol=lf

# Ensure the Yarn cache and releases are always treated as binary
.yarn/cache/** binary
.yarn/releases/** binary
.yarn/plugins/** binary
.pnp.* binary
